@import url("https://fonts.googleapis.com/css2?family=GFS+Neohellenic&family=Indie+Flower&display=swap");


/* Base Styles */

* {
  margin: 0;
  font-family: 'Indie Flower', cursive;
  color:blueviolet;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 1000px;
  margin: 0 auto;
  border-bottom: 1px solid black;
}

.navbar h1 {
  color:blueviolet;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  border-radius: 8px;
}

.navbar a:hover {
  color:white;
  background-color: blueviolet;

}

.content {
  max-width: 1000px;
  margin: 0px auto;
  padding: 20px;
}

.content button, .create button{
  margin-top: 20px;
  margin-bottom: 30px;
}

.content .home p {
  color: black;
  padding-bottom: 10px;
  font-family: 'GFS Neohellenic', sans-serif;
}

footer {
  padding-top: 50px;
}

.blog-preview {
  margin: 20px 0;
  border-bottom: 1px solid #C0C0C0;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.8);
}

.blog-preview h3 {
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 1px;
}

.blog-preview a {
  text-decoration: none;
}

.blog-list h2 {
  color: black;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.blog-preview button {
  margin-top: 10px;
  margin-bottom: 15px;
  color: grey;
  margin-left: 5px;
}

.blog-details div {
  color: black;
  padding-bottom: 10px;
  padding-top: 20px;
  font-family: 'GFS Neohellenic', sans-serif;
}

.create {
  max-width: 500px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create input, .create textarea, .create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0px;
  box-sizing: border-box;
  border: 1px solid grey;
  display: block;
  font-family: 'GFS Neohellenic', sans-serif;
  color: black;
  font-size: 30;

}

.create textarea {
  margin:100px;
}